[run]
source = neo

[report]
omit =
  venv*
  neo/Network/IPEndpoint.py
  neo/bin/*
  examples/*
  docs/*
  neo/SmartContract/tests/StorageTest.py
  neo/SmartContract/tests/BreakpointTest.py
  neo/SmartContract/tests/MigrateTest1.py
  neo/SmartContract/tests/MigrateTest2.py
  neo/SmartContract/tests/ExecutionFailEventTest.py
