include README.rst
include requirements.txt

recursive-include neo *
recursive-include tests *
recursive-include examples *
recursive-include fixtures *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *
